bin/ensembl-vep
processed_data/snv/nat_downstr_intron_cons_scores_all.bed
processed_data/snv/nat_upstr_intron_cons_scores_all.bed
processed_data/snv/nat_upstr_intron_positions.bed
processed_data/snv/nat_exon_cons_scores_all.bed
processed_data/snv/nat_exon_positions.bed
processed_data/snv/nat_downstr_intron_positions.bed
ref/Rosenberg_2015/model_full_data.mat
ref/phyloP/chr15.phyloP100way.bigWig
ref/phyloP/chr14.phyloP100way.bigWig
ref/phyloP/chr3.phyloP100way.wigFix.gz
ref/phyloP/chr9.phyloP100way.wigFix.gz
ref/phyloP/chr17.phyloP100way.bigWig
ref/phyloP/chr4.phyloP100way.wigFix.gz
ref/phyloP/chr16.phyloP100way.bigWig
ref/phyloP/chr10.phyloP100way.bigWig
ref/phyloP/chr11.phyloP100way.bigWig
ref/phyloP/chr7.phyloP100way.wigFix.gz
ref/phyloP/chr12.phyloP100way.bigWig
ref/phyloP/chr13.phyloP100way.bigWig
ref/phyloP/chr1.phyloP100way.wigFix.gz
ref/phyloP/chrX.phyloP100way.bigWig
ref/phyloP/chr6.phyloP100way.wigFix.gz
ref/phyloP/chr5.phyloP100way.wigFix.gz
ref/phyloP/chr8.phyloP100way.wigFix.gz
ref/phyloP/chr2.phyloP100way.wigFix.gz
ref/phyloP/chr19.phyloP100way.bigWig
ref/phyloP/chr18.phyloP100way.bigWig
ref/phyloP/chr17.phyloP100way.wigFix.gz
ref/phyloP/chr8.phyloP100way.bigWig
ref/phyloP/chr9.phyloP100way.bigWig
ref/phyloP/chr10.phyloP100way.wigFix.gz
ref/phyloP/chr13.phyloP100way.wigFix.gz
ref/phyloP/chrX.phyloP100way.wigFix.gz
ref/phyloP/chr14.phyloP100way.wigFix.gz
ref/phyloP/chr3.phyloP100way.bigWig
ref/phyloP/chr2.phyloP100way.bigWig
ref/phyloP/chr22.phyloP100way.bigWig
ref/phyloP/chr15.phyloP100way.wigFix.gz
ref/phyloP/chr1.phyloP100way.bigWig
ref/phyloP/chr21.phyloP100way.bigWig
ref/phyloP/chr18.phyloP100way.wigFix.gz
ref/phyloP/chr20.phyloP100way.bigWig
ref/phyloP/chr12.phyloP100way.wigFix.gz
ref/phyloP/chr6.phyloP100way.bigWig
ref/phyloP/chr20.phyloP100way.wigFix.gz
ref/phyloP/chr11.phyloP100way.wigFix.gz
ref/phyloP/chr7.phyloP100way.bigWig
ref/phyloP/chr4.phyloP100way.bigWig
ref/phyloP/chr5.phyloP100way.bigWig
ref/phyloP/chr16.phyloP100way.wigFix.gz
ref/spidex/spidex.tab.gz
ref/phastCons/chr17.phastCons100way.bigWig
ref/phastCons/chr5.phastCons100way.wigFix.gz
ref/phastCons/chr12.phastCons100way.wigFix.gz
ref/phastCons/chr10.phastCons100way.bigWig
ref/phastCons/chr19.phastCons100way.bigWig
ref/phastCons/chr13.phastCons100way.bigWig
ref/phastCons/chrX.phastCons100way.bigWig
ref/phastCons/chr14.phastCons100way.bigWig
ref/phastCons/chr2.phastCons100way.wigFix.gz
ref/phastCons/chr7.phastCons100way.wigFix.gz
ref/phastCons/chr15.phastCons100way.bigWig
ref/phastCons/chr10.phastCons100way.wigFix.gz
ref/phastCons/chr12.phastCons100way.bigWig
ref/phastCons/chr18.phastCons100way.bigWig
ref/phastCons/chrX.phastCons100way.wigFix.gz
ref/phastCons/chr20.phastCons100way.bigWig
ref/phastCons/chr11.phastCons100way.bigWig
ref/phastCons/chr8.phastCons100way.wigFix.gz
ref/phastCons/chr16.phastCons100way.bigWig
ref/phastCons/chr1.phastCons100way.wigFix.gz
ref/phastCons/chr9.phastCons100way.wigFix.gz
ref/phastCons/chr9.phastCons100way.bigWig
ref/phastCons/chr3.phastCons100way.bigWig
ref/phastCons/chr4.phastCons100way.bigWig
ref/phastCons/chr7.phastCons100way.bigWig
ref/phastCons/chr11.phastCons100way.wigFix.gz
ref/phastCons/chr6.phastCons100way.wigFix.gz
ref/phastCons/chr3.phastCons100way.wigFix.gz
ref/phastCons/chr1.phastCons100way.bigWig
ref/phastCons/chr6.phastCons100way.bigWig
ref/phastCons/chr5.phastCons100way.bigWig
ref/phastCons/chr2.phastCons100way.bigWig
ref/phastCons/chr8.phastCons100way.bigWig
ref/phastCons/chr4.phastCons100way.wigFix.gz
ref/linsight.bw
ref/cadd/ExAC_r0.3.tsv.gz
ref/vep/homo_sapiens/90_GRCh38/18/all_vars.gz
ref/vep/homo_sapiens/90_GRCh38/9/all_vars.gz
ref/vep/homo_sapiens/90_GRCh38/11/all_vars.gz
ref/vep/homo_sapiens/90_GRCh38/7/all_vars.gz
ref/vep/homo_sapiens/90_GRCh38/16/all_vars.gz
ref/vep/homo_sapiens/90_GRCh38/6/all_vars.gz
ref/vep/homo_sapiens/90_GRCh38/17/all_vars.gz
ref/vep/homo_sapiens/90_GRCh38/1/all_vars.gz
ref/vep/homo_sapiens/90_GRCh38/10/all_vars.gz
ref/vep/homo_sapiens/90_GRCh38/19/all_vars.gz
ref/vep/homo_sapiens/90_GRCh38/8/all_vars.gz
ref/vep/homo_sapiens/90_GRCh38/4/all_vars.gz
ref/vep/homo_sapiens/90_GRCh38/X/all_vars.gz
ref/vep/homo_sapiens/90_GRCh38/15/all_vars.gz
ref/vep/homo_sapiens/90_GRCh38/3/all_vars.gz
ref/vep/homo_sapiens/90_GRCh38/12/all_vars.gz
ref/vep/homo_sapiens/90_GRCh38/2/all_vars.gz
ref/vep/homo_sapiens/90_GRCh38/13/all_vars.gz
ref/vep/homo_sapiens/90_GRCh38/5/all_vars.gz
ref/vep/homo_sapiens/90_GRCh38/14/all_vars.gz
ref/snv/ExAC_SNVs.vcf.gz
ref/snv/ExAC.r0.3.1.sites.vep.vcf.gz
ref/snv/snp_snv_annot_all.txt
